.idea
.readme
pullchecker/tmp/*
!pullchecker/tmp/.htaccess
pullchecker/include/cs/CodeSniffer/*
!pullchecker/include/cs/CodeSniffer/.readme
pullchecker/include/cs/standards/*
!pullchecker/include/cs/standards/.readme
pullchecker/config.php

pre-commit/cs/CodeSniffer/*
!pre-commit/cs/CodeSniffer/.readme
pre-commit/cs/standards/*
!pre-commit/cs/standards/.readme

.git
